body {
    background-color: #ffe6fd;
    text-align: center;
    font-family: Verdana;
    font-size: 60px;
}

#robi {
    background-color: black;
}

img {
    margin-top: 360px;
    width: 900px;
    height: 900px;
    border-radius: 75px;
    border-style: solid;
    border-width: 6px;
    border-color: white;
}

img:hover {
    border-width: 6px;
    border-color: black;
}

.link {
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
}

.odliczanie {
    color: #c70054;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    font-size: 15px;

}

#div2 {
    padding-top: 30px;
    padding-bottom: 200px;
}

#spotify {
    color: #1DB954;
}

#spotify:hover {
    background-color: #1DB954;
    color: white;
}

#apple {
    color: #FC3C44;
}

#apple:hover {
    background-color: #FC3C44;
    color: white;
}

#deezer {
    color:#0091ff;
}

#deezer:hover {
    background-color: #0091ff;
    color: white;
}

#mp3:hover {
    background-color: black;
    color: white;
}
