body {
    background-color: #ffe6fd;
    text-align: center;
    font-family: Verdana;
    font-size: 60px;
}

img {
    width: 40%;
    height: 40%;
    border-radius: 25px;
    border-style: solid;
    border-width: 6px;
    border-color: white;
    mix-blend-mode: multiply;
}

#div1 {
	margin-top: 25px;
}

#link {
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 20px;
    padding: 6px 15px 6px 15px;
}